/*登录*/
*{
	padding:0;
	margin:0;
}

#login {
	width: 100%;
	height: 100%;
}

#login .loginWrap {
	width:340px;
	height: 100%;
	background-color: white;
	margin: 0 auto;
	border-radius: 15px;
	position: relative;
	padding:0 20px;
}


a:hover {
	cursor: pointer;
}

#closeLogin {
	font-size: 40px;
	color: white;
	position: absolute;
	right: 0px;
	top: -50px;
}

#closeLogin:hover {
	cursor: pointer;
}

#login .loginWrap h2 {
	width: 100%;
	font-weight: normal;
	font-size: 20px;
	padding: 30px 0px;
	text-align: center;
	position: relative;
	color：#333；
}

#login .loginWrap h2 span {
	display: inline-block;
	width: 110px;
	height: 1px;
	background-color: gainsboro;
	position: absolute;
	top: 48px;
	z-index: 10;
}

#login .loginWrap h2 span:nth-child(1) {
	position: absolute;
	left: 0px;
}

#login .loginWrap h2 span:nth-child(2) {
	position: absolute;
	right: 0px;
}

#login .loginWrap .inputs {
	display: block;
	font-size: 16px;
	width: 100%;
	height:40px;
	margin-bottom: 30px;
	border:1px solid #e4e4e4;
	border-radius:5px;
	font-size:14px;
	color:#c5c5c5;
	text-indent: 20px;
}

#login .loginWrap .user {
	position: relative;
}

#login .loginWrap .user .closeUser {
	position: absolute;
	top: 12px;
	right: 20px;
	width:15px;
	height:15px;
	text-align:center;
	line-height:15px;
	background:#666;
	color:#fff;
	border-radius:50%;
	font-size:12px;
	display:none;
}
#login .loginWrap .user .look{
	position: absolute;
	top: 16px;
	right: 10px;
	display:block;
	text-align:center;
	line-height:15px;
	color:#6d6a6a;
	display:none;
}
#login .loginWrap .user .yzm{
	width:210px;
	height:40px;
	border-radius:5px;
	border: 1px solid #e4e4e4;
	text-indent: 20px;
}
.margin20{
	margin-top:20px;
}
#login .loginWrap .user .getYzm{
	width:110px;
	height:40px;
	font-size:12px;
	color:#c1c1c1;
	border-radius:5px;
	border:1px solid #e4e4e4;
  border-color: rgb(228, 228, 228);
  background-image: -moz-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  cursor:pointer;
  float:right;
}
.layui-btn{
	width:340px;
	height:40px;
	border-radius:5px;
	background-color:#4381e8;
	margin-top:30px;
}
#login .loginWrap a{
	float:right;
	font-size:12px;
	color:#6d6a6a;
}
.layui-form-checkbox[lay-skin=primary] i{
	width:12px;
	height:12px;
	line-height:12px;
	margin-top:1px;
}
.layui-form-checkbox[lay-skin=primary] span{
	font-size:12px;
	color:#6d6a6a;
}
#login .loginWrap a.blue{
	color:#649fde;
}
#login .loginWrap span.shu{
	float:right;
	margin:0 8px;
	color:#eee;
}
#login .loginWrap .user .closeUser:hover {
	cursor: pointer;
}

#login .loginWrap .operation label {
	font-size: 12px;
	color:#6d6a6a;
}

#login .loginWrap .operation .other {
	color: 14px;
	float: right;
}

#login .loginWrap .operation .other span {
	display: inline-block;
	margin: 0 4px;
	color: gainsboro;
}

#loginBtn {
	width: 100%;
	height: 42px;
	line-height: 42px;
	color: white;
	background-color: #4381e8;
	text-align: center;
	margin-top: 30px;
	border-radius: 4px;
}

#loginBtn:hover {
	cursor: pointer;
}


//注册
/*登录*/
*{
	padding:0;
	margin:0;
}

#reg {
	width: 100%;
	height: 100%;
}

#reg .loginWrap {
	width:340px;
	height: 100%;
	background-color: white;
	margin: 0 auto;
	border-radius: 15px;
	position: relative;
	padding:0 20px;
}


a:hover {
	cursor: pointer;
}


#reg .loginWrap h2 {
	width: 100%;
	font-weight: normal;
	font-size: 20px;
	padding: 30px 0px;
	text-align: center;
	position: relative;
	color：#333；
}

#reg .loginWrap h2 span {
	display: inline-block;
	width: 110px;
	height: 1px;
	background-color: gainsboro;
	position: absolute;
	top: 48px;
	z-index: 10;
}

#reg .loginWrap h2 span:nth-child(1) {
	position: absolute;
	left: 0px;
}

#reg .loginWrap h2 span:nth-child(2) {
	position: absolute;
	right: 0px;
}

#reg .loginWrap .inputs {
	display: block;
	font-size: 16px;
	width: 100%;
	height:40px;
	margin-bottom: 30px;
	border:1px solid #e4e4e4;
	border-radius:5px;
	font-size:14px;
	color:#c5c5c5;
	text-indent: 20px;
}

#reg .loginWrap .user {
	position: relative;
}

#reg .loginWrap .user .closeUser {
	position: absolute;
	top: 12px;
	right: 20px;
	width:15px;
	height:15px;
	text-align:center;
	line-height:15px;
	background:#666;
	color:#fff;
	border-radius:50%;
	font-size:12px;
	display:none;
}
#reg .loginWrap .user .look{
	position: absolute;
	top: 16px;
	right: 10px;
	display:block;
	text-align:center;
	line-height:15px;
	color:#6d6a6a;
	display:none;
}
#reg .loginWrap .user .yzm{
	width:210px;
	height:40px;
	border-radius:5px;
	border: 1px solid #e4e4e4;
	text-indent: 20px;
}
.margin20{
	margin-top:20px;
}
#reg .loginWrap .user .getYzm{
	width:110px;
	height:40px;
	font-size:12px;
	color:#c1c1c1;
	border-radius:5px;
	border:1px solid #e4e4e4;
  border-color: rgb(228, 228, 228);
  background-image: -moz-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  cursor:pointer;
  float:right;
}
.layui-btn{
	width:340px;
	height:40px;
	border-radius:5px;
	background-color:#4381e8;
	margin-top:30px;
}
#reg .loginWrap a{
	float:right;
	font-size:12px;
	color:#6d6a6a;
}
.layui-form-checkbox[lay-skin=primary] i{
	width:12px;
	height:12px;
	line-height:12px;
	margin-top:1px;
}
.layui-form-checkbox[lay-skin=primary] span{
	font-size:12px;
	color:#6d6a6a;
}
#reg .loginWrap a.blue{
	color:#649fde;
}
#reg .loginWrap span.shu{
	float:right;
	margin:0 8px;
	color:#eee;
}
#reg .loginWrap .user .closeUser:hover {
	cursor: pointer;
}

#reg .loginWrap .operation label {
	font-size: 12px;
	color:#6d6a6a;
}

#reg .loginWrap .operation .other {
	color: 14px;
	float: right;
}

#reg .loginWrap .operation .other span {
	display: inline-block;
	margin: 0 4px;
	color: gainsboro;
}

#loginBtn {
	width: 100%;
	height: 42px;
	line-height: 42px;
	color: white;
	background-color: #4381e8;
	text-align: center;
	margin-top: 30px;
	border-radius: 4px;
}

#loginBtn:hover {
	cursor: pointer;
}