@charset "utf-8";
blockquote,
body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body {
	margin: 0 auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%
}

address,
cite,
dfn,
em,
var {
	font-style: normal
}

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace
}

small {
	font-size: 12px
}

dd,
dl,
dt,
li,
ol,
ul {
	list-style: none
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,
img {
	border: 0
}

button,
input,
select,
textarea {
	font: 12px/1.5 tahoma, arial, sans-serif;
	vertical-align: middle;
	cursor: pointer
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.clear {
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	background: 0 0;
	border: 0;
	font-size: 0
}

a {
	text-decoration: none;
	color: #555
}

a:hover {
	color: #f60
}

h1 {
	font-size: 50px
}

h2 {
	font-size: 40px
}

h3 {
	font-size: 30px
}

h4 {
	font-size: 14px
}

h5 {
	font-size: 12px
}

h6 {
	font-size: 9px
}

* {
	padding: 0;
	margin: 0
}

li,
ul {
	list-style: none
}

a {
	text-decoration: none
}

body {
	font-family: "微软雅黑"
}

.p-head {
	line-height: 100px;
	height: 100px;
	position: relative
}

.p-head img {
	width: 140px;
	height: 60px;
	margin: 20px 20px;
	float: left
}

.p-head .serBox {
	max-width: 300px;
	width: 25%;
	position: absolute;
	right: 0;
	top: 0
}

.p-head ul.navBox {
	width: 55%;
	max-width: 900px;
	margin-left: 25%
}

.p-head ul.navBox li {
	display: inline-block;
	padding: 0 2.5%;
	position: relative;
}
/***************************************/
.p-head .navBox .showNav{
	width: 80px;
	background-color: white;
	border: 1px solid gainsboro;
	border-radius: 8px;
	text-align: center;
	padding: 0px 20px;
	position: absolute;
	top: 70px;
	left: -6px;
	z-index: 100;
	display: none;
	
}
.p-head ul.navBox .jxzc:hover .jxzcM{
	display: block;
}
.p-head ul.navBox .zxxx:hover .zxxxM{
	display: block;
}
.p-head ul.navBox .lcyy:hover .lcyyM{
	display: block;
}
.p-head ul.navBox .jsfz:hover .jsfzM{
	display: block;
}
.p-head ul.navBox .yyss:hover .yyssM{
	display: block;
}
.p-head ul.navBox .kyfw:hover .kyfwM{
	display: block;
}
.p-head .navBox .showNav a{
	display: block;
	line-height: 20px;
	padding: 10px 0px;
	
}
/************************************/
.p-head ul.login {
	overflow: hidden;
	float: left
}

.p-head ul.login li {
	float: left
}

.p-head ul.login i {
	float: left;
	padding: 0 5px
}

.p-head form {
	position: relative;
	border-radius: 25px;
	border: 1px solid #ccc;
	display: inline-block;
	height: 24px;
	margin-top: 38px;
	width: 160px;
	z-index: 8888;
	margin-left: 10px
}

.p-head form i {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	color: #000;
	width: 15px;
	height: 24px;
	text-align: center;
	line-height: 24px
}

.p-head form input {
	display: block;
	width: 77%;
	height: 90%;
	border: none;
	position: absolute;
	left: 15px;
	text-indent: 5px;
	outline: 0;
	z-index: 9998
}

footer {
	overflow: hidden;
	clear: both
}

footer .height50 {
	height: 50px;
	overflow: hidden;
	clear: both
}

footer .link {
	width: 100%;
	heigth: 303px;
	background-color: #999;
	overflow: hidden
}

footer .link img {
	width: 180px;
	height: 69px;
	margin: 0 40px;
	float: left
}

footer .width1 {
	width: 35%
}

footer .width2 {
	width: 30%
}

footer .link-info {
	float: left;
	overflow: hidden;
	margin-left: 50px;
	margin-bottom: 40px
}

footer .link-info h5 {
	width: 85%;
	margin-left: 5%;
	line-height: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	color: #fff;
	font-size: 18px
}

footer .link-info ul li {
	float: left;
	margin-left: 5%;
	line-height: 40px
}

footer .link-info ul li a {
	color: #fff
}

footer .banquan {
	width: 100%;
	height: 52px;
	background: #666;
	overflow: hidden;
	line-height: 52px
}

footer .banquan b {
	font-weight: 400;
	margin-left: 60px;
	color: #fff
}

footer .banquan ul {
	float: right
}

footer .banquan ul li {
	float: left;
	padding: 0 20px;
	cursor: pointer
}

footer .banquan ul li a {
	color: #fff
}

.height150 {
	height: 150px;
	overflow: hidden;
	clear: both
}

.slide-nav {
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #00f;
	right: -20%;
	top: 0;
	z-index: 10000;
	transition: all .5s
}

.slide-nav ul {
	width: 100%;
	height: 100%
}

.slide-nav ul li {
	width: 100%;
	text-align: center;
	line-height: 45px
}

.slide-nav ul li a {
	color: #fff
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	opacity: 1;
	top: 0;
	background: rgba(0, 0, 0, .4);
	z-index: 9998;
	display: none
}

@media all and (max-width:1480px) {
	.p-head ul.navBox {
		margin-left: 20%
	}
	.p-head ul.navBox li {
		padding: 0 2%
	}
}

@media all and (max-width:1304px) {
	.p-head {
		position: relative
	}
	.p-head ul.navBox {
		margin-left: 15%
	}
	.p-head ul.navBox li {
		padding: 0 2%
	}
	.p-head .clickEle {
		width: 50px;
		height: 50px;
		margin-top: 25px;
		background-color: red;
		float: right;
		margin-right: 15px;
		position: relative;
		z-index: 9999
	}
	.p-head ul.navBox {
		display: none
	}
	.p-head .serBox {
		position: static;
		width: 50%;
		margin: 0 auto;
		max-width: 355px
	}
	.p-head .serBox form {
		width: 260px
	}
}

@media all and (max-width:1046px) {
	footer .link-info {
		margin-left: 0
	}
}

@media all and (max-width:968px) {
	footer .link img {
		float: none;
		margin: 0 auto;
		display: block
	}
	footer .link-info {
		width: 40%;
		margin-left: 6%;
		margin-top: 30px
	}
}

@media all and (max-width:850px) {
	footer .banquan {
		text-align: center;
		position: relative
	}
	footer .banquan b {
		margin: 0
	}
	footer .banquan ul {
		width: 50px;
		height: 52px;
		background: red;
		padding: 0;
		overflow: visible;
		position: absolute;
		right: 10px;
		float: none;
		bottom: 0
	}
	footer .banquan ul li {
		padding: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 12px
	}
}

@media all and (max-width:768px) {
	footer .banquan {
		text-align: center;
		position: relative
	}
	footer .banquan b {
		margin: 0;
		font-size: .28rem
	}
	.p-head .serBox {
		display: none
	}
}

@media all and (max-width:648px) {
	footer .link .link-info h5 {
		font-size: 16px
	}
	footer .link .link-info ul li {
		font-size: 14px
	}
}