/*注册****************************************/

#register {
	width: 100%;
	height: 100%;
}

#register .registerWrap {
	width: 340px;
	height: 480px;
	padding: 0px 20px;
	background-color: white;
	margin: 0 auto;
	border-radius: 8px;
	position: relative;
}

#closeRegister {
	font-size: 40px;
	color: white;
	position: absolute;
	right: 0px;
	top: -50px;
}

#closeRegister:hover {
	cursor: pointer;
}

#register .registerWrap h2 {
	width: 100%;
	font-weight: normal;
	font-size: 28px;
	padding: 30px 0px;
	text-align: center;
	position: relative;
}

#register .registerWrap h2 span {
	display: inline-block;
	width: 64px;
	height: 1px;
	background-color: gainsboro;
	position: absolute;
	top: 48px;
	z-index: 10;
}

#register .registerWrap h2 span:nth-child(1) {
	position: absolute;
	left: 0px;
}

#register .registerWrap h2 span:nth-child(2) {
	position: absolute;
	right: 0px;
}

#register .registerWrap .inputs {
	display: block;
	font-size: 14px;
	width: 96%;
	padding: 6px 0px 6px 4%;
	margin-bottom: 30px;
}

#register .registerWrap .user {
	position: relative;
}

#register .registerWrap .user span {
	font-size: 16px;
	position: absolute;
	top: 12px;
	right: 10px;
}

#register .registerWrap .user span:hover {
	cursor: pointer;
}

#register .registerWrap .operation label {
	font-size: 14px;
}

#register .registerWrap .operation .other {
	color: 14px;
	float: right;
}

#register .registerWrap .operation .other span {
	display: inline-block;
	margin: 0 4px;
	color: gainsboro;
}

#register .registerWrap .yzm {
	width: 100%;
	height: 40px;
}

#register .registerWrap .yzm input {
	display: inline-block;
	width: 60%;
	padding: 6px 0px 6px 6px;
}

#register .registerWrap .yzm button {
	display: inline-block;
	width: 30%;
	font-size: 12px;
	padding: 6px 0px 6px 0px;
	float: right;
}

#registerBtn {
	width: 100%;
	height: 42px;
	line-height: 42px;
	color: white;
	background-color: #4381e8;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 4px;
}

#registerBtn:hover {
	cursor: pointer;
}

@media only screen and (max-width: 420px) {
	#register .registerWrap .yzm input {
		width: 40%;
	}
	#register .registerWrap .yzm button {
		display: inline-block;
		width: 50%;
		float: right;
	}
	#register .registerWrap .operation .other {
		float: none;
		color: 14px;
	}
	#register .registerWrap .operation .other span {
		display: inline-block;
		margin: 0 4px;
		color: gainsboro;
	}
}